<h1>Welcome to the Car Simulator</h1>

<form class="car_input" action="landing" method="get">
  <label for="make_id">Make:</label>
  <input type="text" id="make_id" name="make"/>
  </br>
  <label for="model_id">Model:</label>
  <input type="text" id="model_id" name="model" />
  <br/>
  <label for="year_id">Year:</label>
  <input type="number" id="year_id" name="year" min="1893" max="2017" required/>
  <br/>
  <input type="submit" value="Simulate Car"/>
</form>
