<h1>Car Simulator</h1>

<p>Car: <%= @car.car_name %></p>

<p>Speed: <%= @car_speed %> mph</p>

<form class="car_simulator" action="accelerate_car" method="get">
  <input type="submit" value="Accelerate"/>
</form>
